html, body {
  margin: 0pt;
  padding: 0pt;
  background-color: #03063f;
}

.map-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.map-section {
  position: relative; /* Ensures the tooltip stays above the map */
  flex-grow: 1; /* Makes the map take up available space */
}

.tooltip {
  position: absolute;
  background: #373d8d; /* Dark blue or any dark color to match the theme */
  color: #ffffff; /* White text for contrast */
  padding: 10px;
  border: 1px solid #666; /* Adjust color to match the dark theme */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
  min-width: 80px;
  max-width: 150px;
  text-align: center;
}

.map-legend {
  width: fit-content;
  padding: 10px;
  background-color: #9f9fa2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-right: 5%;
}

.legend-item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
